<!doctype html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe</title>
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">

<header class="p-1 text-bg-dark">
    <div class="header-container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto m-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index' %}" class="nav-link px-2 text-white"><h3>AskMe</h3></a></li>
            <li><a href="{% url 'ask' %}" class="nav-link px-2 text-white">
                <button id="add_question" type="button" class="btn btn-danger">
                    Ask question!
                </button>
                </a>
            </li>
        </ul>

        <form id="main_form" class="col-12 m-auto" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{% url 'signup' %}"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="p-2 p-sm-2 col-3">
                <div class="justify-content-around fs-4">
                    <h1 class="text-center">
                    Popular Tags
                    </h1>
                    <span class="col-auto" role="group">
                        {% for tag in popular_tags %}
                            <a class="text-decoration-none" href="{% url 'tag' name=tag.name %}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </span>
                </div>
                <br>
                <div class="justify-content-around fs-4">
                    <h1 class="text-center">
                    Best Members
                    </h1>
                    {% for member in best_members %}
                        <div class="d-flex flex-row justify-content-around">
                            <div class="col text-center">
                                {{ member.username }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

</body>
</html>
